[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

.gender-logo {
  color: #aaa;
  font-size: 6em;
}

.fa-heart {
  color: #7b75d5;
  font-size: 55px;
}

.heart-button {
  background-color: transparent;
  border: none;
  vertical-align: middle;
  margin-bottom: 250px;
  margin-left: 50px;
  margin-right: 50px;
}

.heart-button:hover {
  background-color: transparent;
}

.heart-button:hover > .fa-heart {
  color: #9584de;
}

.heart {
  display: inline-block;
}

.drop-areas {
  text-align: center;
  vertical-align: middle;
  display: block;
  margin: auto;
  margin-top: 50px;
}

.drop-area-container {
  display: inline-block;
  margin: auto;
}

.drop-area {
  display: inline-block;
  width: 15rem;
  height: 15rem;
  top: 25%;
  border: solid 2px #aaa;
  border-radius: 40px;
  z-index: 1;
}

.drop-area-info {
  width: 15rem;
  margin-top: 10px;
  display: block;
}

.cats_div {
  width: 100%;
  text-align: center;
}

.cat_content {
  display: inline-block;
  margin-top: auto !important;
  margin-left: auto !important;
  margin-right: auto !important;
  text-align: center !important;
}

.ui-droppable-active {
  border: dashed 2px #aaa;
}

.cat_block {
  z-index: 2;
  cursor: move;
}
