blockquote {
    background: none repeat scroll 0 0 padding-box rgba(255, 255, 255, 0.1);
    border-left: 5px solid #9584de;
    box-shadow: 0 0 20px #222222;
    color: black;
    font-family: arial;
    font-size: 16px;
    font-style: italic;
    line-height: 1.45;
    outline: 0 none;
    padding: 10px 15px;
    text-align: center;
    width: 450px;
}

.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
}

.pagination a:hover:not(.active) {background-color: #ddd;}