.pagination {
    display: block;
}

#page_counter {
    display: inline-block;
    background-color: white;
    color: black;
    max-width: 80px;
    font-size: 100%;
    text-decoration: none;
    padding: 9px 16px;
    border-radius: 7px;
    border: 2px solid #9584de;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
}

.pagination a:hover:not(.active) {background-color: #ddd;}
