.profile-section {
  padding: (163px / 16px) * 1rem 0 (80px / 16px) * 1rem;

  background: linear-gradient(to right, #b385e0, #8685dd);
}

.profile-section__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: 768px) {
    justify-content: center;
    flex-wrap: wrap;
  }
}

.profile-section__avatar {
  flex: 0 1 (190px / 984px) * 100%;

  margin-right: 1rem;

  @media screen and (max-width: 768px) {
    flex: 0 1 (190px / 16px) * 1rem;
    margin-right: 0;
    margin-bottom: 2rem;
  }

  @media screen and (max-width: 480px) {
    margin-bottom: 4rem;
  }
}

.profile-section__info {
  flex: 0 1 (490px / 984px) * 100%;
  margin-right: 1rem;

  @media screen and (max-width: 768px) {
    flex: 0 1 100%;
    margin-right: 0;
    margin-bottom: 2rem;
  }
}

.profile-section__wallet {
  flex: 0 1 (209px / 984px) * 100%;

  @media screen and (max-width: 768px) {
    flex: 0 1 100%;
  }

  @media screen and (max-width: 480px) {
    flex: 0 1 60%;
  }
}
